body{
    background: #f2f2f2;
}
.boobox {
    width: 100%;
    height: 100%;
}
/*顶部开始*/
.header{
    width: 100%;
    height:2rem;
    background: #fb8ca1;
    position: relative;
}
.zhuangtai{
    width: 100%;
    height:0.62rem ;
    background:#fa8299;
    padding: 0.2rem 0.3rem;
    box-sizing: border-box;
}
.statusbar{
    width:100%;
}
.shangbox{
    width: 100%;
    height:1.38rem;
    padding:0.27rem ;
    box-sizing: border-box;
}
.shang{
    width: 100%;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.shang img{
    height: 0.38rem;
}
.sousuo{
    margin-right: 0.15rem;
}
.imgzhan{
    width: 0.38rem;
}
.shang span{
    flex-grow: 1;
    font-size: 0.38rem;
    text-align: center;
    color: #ffffff;
    line-height: 0.4rem;
}
/*顶部结束*/
/*第二部分开始*/
.dierbox{
    width: 100%;
    height:auto;
    background:#f2f2f2;
}
/*个人信息开始*/
.xinxiboss{
    position:relative;
}
.xinxibox{
    position: absolute;
    width:93.6%;
    height: 1.76rem;
    background: #ffffff;
    box-shadow: 0 0 0.15rem rgba(0,0,0,0.4);
    top:-0.44rem;
    left:calc(50% - 46.8%);
    padding:0.24rem;
    box-sizing: border-box;
    display: flex;
    border-radius: 0.1rem;
}
.touxiang{
    width: 1.27rem;
}
.xinxiyou{
    width:5.54rem;
    height: 1.27rem;
    margin-left: 0.2rem;
    /*background: red;*/
    padding: 0.06rem 0;
}
.first{
    display: flex;
    height: 0.24rem;
    align-items: center;
    margin-bottom: 0.02rem;
}
.first span{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.8);
    margin-right: 0.28rem;
}
.first img{
    margin-right: 0.06rem;
    width: 0.2rem;
    height: 0.19rem;
}
.second{
    height: 0.18rem;
    font-size: 0.18rem;
    color: rgba(0,0,0,0.8);
    margin-bottom: 0.14rem;
    transform: scale(0.9,0.9);
    margin-left: -0.32rem;
}
.erzuo{
    margin-right: 0.2rem;
}
.erzhong{
    margin-right: 0.5rem;
}
.third{
    height: 0.18rem;
    font-size: 0.18rem;
    color: rgba(0,0,0,0.8);
    margin-bottom: 0.16rem;
    transform: scale(0.9,0.9);
    margin-left: -0.32rem;
}
.third span{
    margin-right: 0.24rem;
}
.sanyi{
    width: 0.8rem;
    color: #fb8ca1;
   }
.saner{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0.02rem;
}
.four{
    width: 110%;
    /*height: 0.3rem;*/
    font-size: 0.18rem;
    display: flex;
    transform: scale(0.9,0.9);
    margin-left: -0.32rem;
    position: relative;
 }
.siyi{
    width: 0.8rem;
    color: #f8cd33;
}
.sier{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   }
.image{
    padding: 0.14rem 0 0.04rem;
    box-sizing: border-box;
    height: 0.3rem;
     }
.sier img{
    width: 0.22rem;
    height: 0.12rem;
}
/*个人信息结束*/
/*三个按钮开始*/
.sananniu{
    width:100%;
    height: 2.76rem;
    background: #fff;
    margin: 0 auto;
    padding:1.76rem 1.26rem 0.5rem;
    box-sizing: border-box;
}
.sanzong{
    width: 4.5rem;
    height: 0.5rem;
    text-align: center;
    line-height:0.5rem;
    font-size: 0.24rem;
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}
.anniu{
    width: 1.1rem;
    height:0.46rem;
    border-radius: 25px;

}
.diandan{
    background-color: #fb8ca1;
       }
.pingjia{
    background-color: #36facf;
   }
.shangjia{
    background-color: #36facf;
}
/*三个按钮结束*/
/*商品部分开始*/
.goodsbox{
    width:100%;
    height:8rem;
    padding: 0.28rem;
    box-sizing:border-box;
    /*background: yellow;*/
    margin: 0 auto;
    display: flex;
}
.goodszuo{
    width:1.3rem;
    height:7.64rem;
    /*background: pink;*/
    display: flex;
    flex-direction: column;
}
.zuo{
    width: 1.04rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    border: 0.03rem solid #fb8ca1;
    color: #fb8ca1;
    font-size: 0.24rem;
    text-align:center;
    line-height: 0.3rem;
    margin-bottom: 0.2rem;
}
.bidian{
    background: #fb8ca1;
    color: #fff;
}
.goodsyou{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
.shangpinitem{
    width: 100%;
    height:1.3rem;
    padding:0.1rem 0.15rem 0.1rem 0.3rem;
    display: flex;
    background: #fff;
    border-radius: 0.1rem;
}
.ningmengsimg{
    height: 1.09rem;
    margin-right: 0.4rem;
}
.youjieshao{
    flex-grow: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
.nms{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.8);
    margin-top:-0.08rem;
    transform: scale(0.9,0.9);
    margin-left: -0.2rem;
}
.price{
    font-size: 0.18rem;
    /*background: red;*/
    transform: scale(0.8,0.8);
    margin-left: -0.44rem;
    margin-top:-0.08rem;
}
.pricezuo{
    color:#fb8ca1;
    margin-right:0.3rem ;
}
.priceyou{
    color:#72fdc7;
}
.qianggou{
    font-size: 0.18rem;
    color: #000;
    opacity: 0.8;
    margin-top:-0.1rem;
    margin-left: -0.44rem;
    transform: scale(0.8,0.8);
}
.shuliang{
    color:#fb8ca1;
}
.xian{
    font-size: 0.18rem;
    color:#36fcaf;
    transform: scale(0.9,0.9);
    margin-left: -0.2rem;
    margin-top: -0.08rem;
   }
.zengjia{
    height: 0.37rem;
    position: absolute;
    right:0;
    bottom:0;
}
.bjlxqimg{
    width: 1.07rem;
    margin:0 0.2rem 0 -0.1rem;
}
.dsnimg{
    width: 0.81rem;
    margin-right:0.34rem;
}
.qiaokeliimg{
    width: 0.94rem;
    margin:0 0.3rem 0 -0.07rem;
}
.xueqiuimg{
    width: 0.82rem;
    margin-right: 0.34rem;
}
/*商品部分结束*/
/*第二部分结束*/
/*底部开始*/
.footbox{
    width:100%;
    height: 1.47rem;
    padding:0 0.7rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
}
.footbox img{
    width: 0.5rem;
    margin-right:0.4rem;
}
.gwxiangqing{
    flex-grow: 1;
    height:0.6rem;
    color: rgba(0,0,0,0.8);
    font-size: 0.18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.jiesuan{
    width: 1.3rem;
    height: 0.42rem;
    background: #000000;
    border-radius:0.21rem;
    opacity: 0.6;
    font-size: 0.24rem;
    color:#fff;
    text-align: center;
    line-height: 0.38rem;
}
/*底部结束*/