.boobox{
     width:100%;
     height:13.34rem;
     margin: 0 auto;
 }
/*顶部开始*/
.header{
    width:100%;
    height:2rem;
    background: #fb8ca1;
    position: relative;
}
.zhuangtai{
    width:100%;
    height:0.62rem ;
    background:#fa8299;
    padding: 0.2rem 0.3rem;
}
.statusbar{
    width: 6.9rem;
    margin: 0 auto;
}
.shangbox{
    width:100%;
    height:1.38rem;
    padding:0.27rem ;
    box-sizing: border-box;
}
.shang{
    width:100%;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.shang img{
    height: 0.38rem;
}
.shang span{
    flex-grow: 1;
    font-size: 0.38rem;
    text-align: center;
    color: #ffffff;
    line-height: 0.4rem;
}
/*顶部结束*/
/*个人信息开始*/
.xinxiboss{
    position:relative;
      }
.xinxibox{
    position: absolute;
    width:93.6%;
    height: 1.76rem;
    background:#fff;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.15rem rgba(0,0,0,0.4);
    top:-0.44rem;
    left:calc(50% - 46.8%);
    padding:0.2rem;
    box-sizing: border-box;
    display: flex;
}
.touxiang{
    width: 1.27rem;
}
.xinxiyou{
    flex-grow: 1;
    height: 1.27rem;
    margin-left: 0.2rem;
    position: relative;
    font-size: 0.24rem;
    color:rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.xinxidierhang{
    width: 100%;
}
.xinxidisanhang{
    display: flex;
    align-items: center;
}
.shouji{
    width: 0.14rem;
    height: 0.26rem;
}
.shoujiyou{
    display: block;
    height: 0.26rem;
    line-height: 0.26rem;
    margin-left: 0.1rem;
}
.huiyuan{
  /*  background: red;*/
    width:1.88rem;
    height:0.23rem;
    position:absolute;
    top: 0  ;
    right:1.40rem;
    display:flex;
}
.ll{
    flex-grow: 1;
}
.huiyuan img{
    width:0.29rem;
    height:0.23rem;
}
.huiyuan p{
    font-size:0.24rem;
    margin-left:0.1rem;
    color:rgba(0,0,0,0.8);
    line-height:0.23rem;

}
/*个人信息结束*/
/*第二部分开始*/
.zhifu{
    width:100%;
    height:2.8rem;
    background: #fff;
    padding-top:1.64rem ;
    box-sizing: border-box;
}
.shuliang{
    width:100%;
    height: 0.5rem;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
}
.shuliangitem{
    width:1.08rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background:#f6f5f5;
    color:rgba(0,0,0,0.8);
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.5rem;
}
.wenzi{
    width:100%;
    height:0.72rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.wenziitem{
    width: 1.08rem;
    height: 0.72rem;
    font-size: 0.24rem;
    line-height: 0.72rem;
    text-align: center;
    color: #000;
    opacity:0.8;
}
/*中间部分开始*/
.gerenzhongjianbox{
    width:100%;
    height:7.05rem;
    background:#f2f2f2;
    padding:0.24rem 0;
    box-sizing: border-box;
}
.zhongjian{
    height:100%;
    width: 93.6%;
    margin: 0 auto;
   }
.zhongjianitem{
    height:1.18rem;
    width:100%;
    background:#fff;
    margin-bottom:0.24rem;
    border-radius:0.1rem;
    padding:0.19rem 0 0.19rem 0.27rem;
    display: flex;
 }
.zhongjianitem img{
    width:0.8rem;
    height:0.8rem;
}
.zhongjianitem p{
    font-family: PingFang-SC-Regular;
    font-size:0.28rem;
    color: #000000;
    opacity: 0.8;
    line-height: 0.8rem;
    margin-left: 0.2rem;
}
.dizhiyou{
    width:0.67rem;
    height:0.41rem;
    border-radius:0.205rem;
    background: #36fcaf;
    font-family: SanFranciscoDisplay-Regular;
    font-size:0.28rem;
    line-height:0.41rem;
    text-align: center;
    color:#fff;
    margin-left:3.68rem;
    margin-top: 0.195rem;
   }
.dizhiyou i{
    font-weight:800;
}
/*中间部分结束*/
body{
    background: #f2f2f2;
    }
/*底部开始*/
/*.footbox{
    width:100%;
    height:1.47rem;
    padding:0.35rem 0.4rem;
    box-sizing: border-box;
    background:#fff;
    position: fixed;
    bottom: 0;
}
.foot{
    width:100%;
    height: 0.8rem;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}
.footitem{
    width: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footitem img{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
    display: block;
}
.footitem span{
    width:100%;
    height:0.3rem;
    display: block;
    font-size: 0.2rem;
    text-align: center;
    color: #000;
    opacity:0.6;
}*/
/*底部结束*/
