.one{
    width:4.3rem;
    height:3.61rem;
    position: absolute;
    left:calc(50% - 2.15rem);
    top: 5.8rem;
}
.two{
    width:4.95rem;
    height:4.18rem;
    position:absolute;
    top:5.02rem;
    left:calc(50% - 2.475);
    z-index:500;
    }
.threee{
    width:5.78rem;
    height:4.22rem;
    opacity: 1;
    position: absolute;
    top:4.78rem;
    left:calc(50% - 2.89rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    padding:0.7rem 0.75rem 0.4rem;
    box-sizing: border-box;
}
.disanbox{
    width: 3.62rem;
    height:0.2rem;
    font-size: 0.18rem;
    line-height: 0.2rem;
    color: rgba(0,0,0,0.6);
    position: absolute;
    top:2.58rem;
    left:1.22rem;
    display: flex;
    justify-content: space-between;
    margin-top:0;
}
.jzmm{
    display: flex;
}
.yuanquan{
    width: 0.19rem;
    height: 0.19rem;
    border: solid 0.03rem rgba(0,0,0,0.7);
    opacity: 0.6;
    border-radius: 50%;
    margin-right: 0.1rem;
}
.wjmm{
    display: flex;
}
.tanhao{
    width: 0.21rem;
    height: 0.21rem;
    margin-right: 0.1rem;
}
.zhucemima{
    margin-top: -0.75rem;
}
.zhts{
    display: flex;
    height: 0.18rem;
    position: absolute;
    left: 1.84rem;
    top: 0.36rem;
}
.mmts{
    display: flex;
    height: 0.18rem;
    position: absolute;
    left: 1.84rem;
    top: 1.36rem;
}
/*下面部分开始*/
.jiezhe{
    height: 4.54rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.bigbox{
    width: 100%;
    height:4.4rem;
    position: absolute;
    top:0.07rem;
    padding:1rem 0 1.8rem;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.xiashangbox{
    height: 0.4rem;
   /* position: absolute;
    bottom:4.03rem;*/
    width: 100%;
    margin: 0 auto;
}
.eee{
    width: 50%;
    height:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.e{
    position: relative;
}
.yuanyuandian{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 50%;
    background: #fb8ca1;
}
.dianer{
    background:rgba(251,140,161,0.6);
}
.zhongjianzi{
    width: 1.8rem;
    height: 100%;
    text-align: center;
    font-size: 0.28rem;
    color: #fff;
    line-height:0.44rem;
}

.denglufangshi{
    width:100%;
    height: 0.8rem;
    padding: 0 1.75rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
   /* position: absolute;
    bottom:2.6rem;*/
    margin: 0 auto;
}
.denglufangshi img{
    width:0.8rem;
    height: 0.8rem;
}
/*下面部分结束*/
/*2开始*/
.zc img{
    width: 0.27rem;
    height: 0.27rem;
    margin: auto 0;
}
.zhuceanniu{
    background: #fb8ca1;
}
/*2结束*/