*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/*导航开始*/
.nav-box{
    width: 100%;
    height: 79px;
    position:fixed;
    background: rgba(0,0,0,0.3);
    top: 0;
    z-index: 999;
    }
.nav-body{
    width: 1170px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.logo{
    width: 150px;
    height: 50px;
    position:absolute ;
    top: 14.5px;
    left: 10px;
}
.nav-quanbu{
    width: 800px;
    height: 100%;
    /*background: skyblue;*/
    float: right;
}
.nav-item{
    width: 100%;
    height: 100%;
    /*background: purple;*/
    line-height: 79px;
    font-size: 18px;
    float: right;
}
.nav-item-ji{
    float: right;
    margin-left: 30px;
}
.nav-zi-yi{
    color: #16b0dc;
}
.nav-zi-er{
    display: block;
    color: #ffffff;
}
.nav-item-ji a:hover{
    color: #16b0dc;
}
/*导航结束*/
/*轮播开始*/
.banner-box{
    width: 100%;
    height: 1080px;
    background: red;
    margin: 0 auto;
    position: relative;
}
.banner-img{
    height: 100%;
    width: 100%;
    position: relative;
}
#img-box{
    width: 100%;
    height: 100%;
    position: relative;
}
#img-box>img{
    width: 100%;
    height: 100%;
    transition: all 1s;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
}
#img-box>img.active{
    opacity: 1;
    z-index:1;
}
#Rotation-point{
    width: 80px;
    height: 20px;
    position: absolute;
    top: 1040px;
    right:calc(50% - 40px);
    /*background: red;*/
    z-index:1;
}
#Rotation-point>li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    background: #333;
    margin:auto 10px;
    cursor: pointer;
}
#Rotation-point>li.active{
    background:#b0b0b0;
    z-index:999;
}
.Rotation-left{
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 999;
}
.left-detail{
    height:1080px;
    width: 0px;
    background:rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s linear;/*transition下拉效果，linear表示匀速*/
    z-index: 999;
    overflow: hidden/*定位元素之间存在层级关系，z-index用来调整层级*/
}
.Rotation-left:hover .left-detail{
    width:300px;
}
.left-detail:hover .icon-weibiaoti-yihuifu-{
    font-size: 100px;
    color: rgba(0,0,0,0.2);
}
.left-detail i{
    position: absolute;
    left:130px;
    top:calc(50% - 20px);
    font-size:40px;
    color: rgba(255,255,255,0.8);
}
.Rotation-right{
    width: 300px;
    height: 1080px;
    position: absolute;
    top: 0;
    right:0;
    cursor: pointer;
    z-index: 999;
}
.right-detail{
    height: 100%;
    width: 0;
    background:rgba(0,0,0,0.1);
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s linear;/*transition下拉效果，linear表示匀速*/
    z-index: 999;/*定位元素之间存在层级关系，z-index用来调整层级*/
    overflow: hidden;
}
.Rotation-right:hover .right-detail{
    width:300px;
}
.right-detail:hover .icon-wei-{
    font-size: 100px;
    color: rgba(0,0,0,0.2);
}
.right-detail i{
    position: absolute;
    right: 130px;
    top:calc(50% - 20px);
    font-size:40px;
    color: rgba(255,255,255,0.8);
}

/*轮播结束*/
/*中间轮播开始*/
.zhongjian-box {
    width: 1280px;
    height: 650px;
    background: #fff;
    margin: 40px auto;
}
.zhongjian-title{
    width: 100%;
    height: 43px;
    margin-bottom: 11px;
    line-height: 43px;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    color: #333333;
    position: relative;
}
.zi-more{
    width: 63px;
    height: 35px;
    background: #16b0dc;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 4px;
    left: 720px;
    cursor: pointer;
    margin-left: 10px;
    /*border-radius: 50%;*/
   }
.weilei{
    width: 10px;
    height: 10px;
    background:#16b0dc;
    position: absolute;
    left:-5px;
    top:14px;
    transform: rotate(45deg);
}
.zi-more:hover .weilei,.zi-more:hover{
    background:#0598dc;
}
.zhongjian-jieshao{
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
    color: #5e7387;
}
.zhongjian-Ratotion{
    width: 1280px;
    height: 600px;
    /*background: yellow;*/
    margin-top: 50px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
}
.lunbozuo{
    width: 367px;
    height: 367px;
    float: left;
    margin-bottom: 40px;
}
.lunbozuo-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
.jian{
    width: 366px;
    height: 200px;
    /*background: pink;*/
    margin: 30px 40px;
}
.jian-jian{
    width: 366px;
    height: 200px;
    /*background: pink;*/
    margin: 20px auto 0;
}
.jian-shang{
    width: 100%;
    height: 22px;
    font-size: 18px;
    margin-bottom: 11px;
    /*background: skyblue;*/
    text-align: center;
    line-height: 22px;
    color: #333333;
}
.jian-zhong{
    height: 45px;
    color: #757575;
    font-size: 14px;
    line-height: 22.5px;
    margin-bottom: 11px;
}
.jian-xia{
    width: 100%;
    height: 36px;
    background: #f96868;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
    display: flex;
}
.ooo{
    width:33%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.lunbozuo i{
    font-size:21px;
    color: rgba(0,0,0,0.4);
    line-height: 36px;
}
.jian-xia:hover{
    background:rgba(249,104,104,0.9);
}
.btn-left i{
    position: absolute;
    left: 0;
    top: 210px;
    font-size: 36px;
    color:#b0b0b0;
   }
.btn-left i:hover{
    background-position: 0 0;
    color:rgba(0,0,0,0.7);
}
.btn-right i{
   font-size: 36px;
    position: absolute;
    right: 0;
    top: 210px;
    color: #b0b0b0;
  }
.btn-right i:hover{
    background-position: 0 0;
    color:rgba(0,0,0,0.7);
}
/*中间轮播结束*/
/*中下部分开始*/
.zhongxia-daboss{
    width: 100%;
    background: #f5f5f5;
    padding:30px 0;
    box-sizing: border-box;
}
.zhongxia-box{
    width: 1280px;
    height: 580px;
    margin: 30px auto 0;
    position: relative;
    /*padding: 20px 0;*/
    box-sizing: border-box;
}
.zhongxia-title{
    width: 100%;
    height: 43px;
    margin-bottom: 11px;
    line-height: 43px;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    color: #333333;
    position: relative;
}
.zi-more{
    width: 63px;
    height: 35px;
    background: #16b0dc;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 4px;
    left: 720px;
    cursor: pointer;
    border-radius: 2px;
}
/*.zi-more:after{
    content: "";
    width: 10px;
    height: 10px;
    background:#16b0dc;
    position: absolute;
    left:-5px;
    top:12px;
    transform: rotate(45deg);
    z-index: -0.8;
}*/
.zhongxia-container-item{
    width: 100%;
    height: 550px;
    /*background: skyblue;*/
   }
.container-item{
    width: 625px;
    height: 98px;
    /*background: purple;*/
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}
.zhongxia-item-img{
    display: block;
    width:160px;
    height: 96px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}
.container-tuyou{
    width:445px ;
    height: 100%;
    /*background: yellow;*/
    float: right;
}
.container-tuyou a{
    color: #2a333c;
    font-size: 18px;
    font-weight: 400;
    /*background: pink;*/
}
.container-tuyou-biaoti:hover{
    text-decoration: underline;
    color: #62c8ca;
}
.container-tuyou-jieshao{
    width: 100%;
    height: 45px;
    margin:5px auto;
    /*background: salmon;*/
    color: #76838f;
    font-weight: 300;
    font-size: 16px;
    overflow: hidden;/*以下是多行文本超出部分显示省略号*/
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;/*行数*/
    -webkit-box-orient: vertical;
  }
.container-tuyou-zuozhe{
    height: 23px;
    font-size: 14px;
    font-weight: 300;
    color: #76838f;
    line-height: 23px;
    float: left;
    margin-right:25px;
}
/*中下部分结束*/
/*工作室介绍开始*/
.gzs-box{
    width: 1280px;
    height: 830px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 0;
    background: #fff;
    border-bottom: 1px solid #e4eaec;
}
.gzs-title{
    width: 100%;
    height: 45px;
    /*background: pink;*/
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 11px;
    }
.gzs-container{
    width: 1220px;
    height: 606px;
    padding: 30px;
    /*background: yellow;*/
    font-size: 18px;
    color: #222;
    font-weight: 300;
    text-align: center;
    line-height: 32px;
}
.gzs-container-yi{
    height: 32px;
    line-height: 32px;
    /*background: purple;*/
    margin-bottom: 16px;
  }
.gzs-container-er{
    height: 32px;
}
/*工作室介绍结束*/
/*底部开始*/
.daboss{
    width: 100%;
    background: #f5f5f5;
    margin-top: 20px;
  }
.footer-box{
    width: 1280px;
    height: 165px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    border-top: 0.996px solid #f0f2f5;
}
.footer-lianxifangshi{
    height: 46px;
    padding: 5px 0;
    margin-top: 10px;
    /*background: green;*/
    position: relative;
}
.weixinyangshi{
    width: 30px;
    height: 26px;
    position: absolute;
    top: 18px;
    left: 600px;
}
.weixin{
    width: 30px;
    height: 26px;
    cursor: pointer;
 }
.weixintanchu{
    width: 160px;
    height: 0;
    position: absolute;
    top: -200px;
    left:-60px;
    display: none;
    /*transition:all 0.3s linear;*/
    z-index: 999;
}
.weixintanchu img{
    width:100%;
    height:100%;
   }
.weixinyangshi:hover .weixintanchu{
    height: 200px;
}
.qq i{
    font-size:24px;
    color: #00a5c4;
    position: absolute;
    top: 16px;
    left: 640px;
    cursor: pointer;
}
.qq i:hover{
    color: skyblue;
}
.youxiang{
    position: absolute;
    top: 18px;
    left: 674px;
}
.youxiang i{
    font-size: 24px;
    color: #3a83fb;
    cursor: pointer;
}
.youxiang i:hover{
    color: skyblue;
}
.jingfang{
    height: 26px;
    position: relative;
}
.ICP{
    color: #62a8ea;
    position: absolute;
    top: 3px;
    left: 430px;
}
.ICP:hover{
    color: skyblue;
    text-decoration: underline;
}
.jingbiao{
    position: absolute;
    top: 6px;
    left: 630px;
}
.gongwang{
    color: #62a8ea;
    position: absolute;
    top: 3px;
    left: 653px;
}
.gongwang:hover{
    color: skyblue;
    text-decoration: underline;
}
.lianxidianhua{
    height: 27px;
    text-align: center;
    color: #aaaaaa;
    line-height: 27px;
    font-size: 12px;
}
/*底部结束*/