.boobox{
    width: 100%;
    height: 100%;
}
.roll{
    padding-bottom:1.5rem;
}
.footbox{
    position:fixed;
    bottom:0;
    z-index:999;
}
/*状态栏开始*/
.zhuangtailan{
    width: 100%;
    height:0.62rem;
    background: #fa8299;
    padding: 0.2rem 0.3rem;
}
.zhuangtailan img{
 width: 6.9rem;
}
/*状态栏结束*/
/*顶部开始*/
#header{
    width:100%;
    height:0.91rem;
    background:#fb8ca1;
    }
.container{
    width:93.6%;
    height:100%;
    min-height:1px;
    margin:0 auto;
    background: #fb8ca1;
}
.top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
       }
.sousuokuang{
    width:2rem;
    height: 0.39rem;
    border-radius:0.21rem;
    background:#fdb8ca;
    justify-content: flex-end;
}
.zhan{
    flex-grow: 1;
}
.sousuokuang i{
   font-size:0.25rem;
    margin-top: 0.05rem;
    margin-left:0.1rem;
    float: left;
    color: #ffffff;
}
.shuru{
    width: 1.3rem;
    height: 0.25rem;
    border: none;
    margin-top: 0.07rem;
    background:rgba(0,0,0,0);
    margin-left: 0.1rem;
}
.shuru::placeholder{
    color: #ffffff;
    font-size: 0.12rem;
    line-height: 0.25rem;
}
.dizhibox{
    width: 2rem;
    height: 0.34rem;
    border-radius: 0.21rem;
  }
.dizhibox i{
    color: #ffffff;
    font-size: 0.25rem;
}
.sxs{
    width: 1.24rem;
    height: 0.24rem;
    line-height: 0.24rem;
    border: none;
    background:rgba(0,0,0,0);
   }
.sxs::placeholder{
    font-family:PingFang-SC-Medium;
    color: #ffffff;
    font-size: 0.12rem;
}
/*顶部结束*/
/*轮播部分开始*/
.banner{
    width:100%;
    height:3.45rem;
    box-shadow: 0 5px 16px 0 rgba(252,192,202,0.5);
    position: relative;
    }
.imgbox{
    width:100%;
    height:3.42rem;
    background: skyblue;
    position: relative;
    margin: 0 auto 0.03rem;
}
.banneritem{
    width:100%;
    height:3.42rem;
    position: absolute;
    top: 0;
    left: 0;
}
.banneritem img{
    display: block;
    width: 100%;
    height: 100%;
}
.imgbox li.active{
    z-index:1;
}
.pagebox{
    width:0.51rem;
    height: 0.15rem;
    position: absolute;
    bottom: 0.1rem;
    left:0.1rem;
    z-index: 99;
    display: flex;
    justify-content:space-between;
}
.pagebox li{
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 0.075rem;
    background:#fff;
}
.pagebox li.active{
    background:#fbdee3;
}
/*轮播部分结束*/
/*导航部分开始*/
.navbox{
    width:100%;
    height: 4.42rem;
    padding: 0.11rem 0.24rem 0.06rem;
    box-sizing: border-box;
    border-bottom: 1px dashed #b0b0b0;
}
.nav{
    width:100%;
    height: 4.2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    padding-right: -0.1rem;
    box-sizing: border-box;
   }
.navitem {
    width: 1.6rem;
    height: 1.76rem;
    display: block;
    }
.navyi{
    width: 1.24rem;
    height: 1.24rem;
    margin: 0 auto;
  }
.nav>a>p{
    width: 1.5rem;
    height: 0.3rem;
    font-size:0.24rem;
    line-height: 0.3rem;
    text-align: center;
    margin-top: 0.22rem;
    color:#fd607d;
}
/*导航部分结束*/
/*推荐部分开始*/
.tuijianbox{
    width:100%;
    height: 1rem;
    /*background: red;*/
    margin: 0.3rem auto;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0 0.28rem;
    box-sizing: border-box;
}
.tuijian{
    width:3.61rem;
    height:0.38rem;
    /*background: yellow;*/
    margin: 0 auto;
}
.daohang{
    width:100%;
    height: 0.42rem;
    display: flex;
    justify-content: space-between;
}
.daohangitem{
    width: 1.49rem;
    line-height: 0.42rem;
    font-size: 0.24rem;
    text-align: center;
    color: #f94b75;
    border-radius: 0.21rem;
    border: 0.001rem solid #fa708f;
}
.daohangitem i{
    width: 0.01rem;
    height: 0.01rem;
    color: #454545;
    /*background: yellow;*/
    margin-bottom: 0;
    display:inline;
}
/*推荐部分结束*/
/*商品部分开始*/
.shangpinbox{
    width:100%;
    height: 7.68rem;
    /*background: red;*/
    margin-top: 0.1rem;
}
.shangpin{
    width:93.6%;
    height:7.68rem;
    /*background: blue;*/
    margin: 0 auto;
}
.shangpin li{
    width:100%;
    height: 1.92rem;
    /*background: pink;*/
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    position: relative;
}
.shanpinyi{
    float: left;
    width: 1.5rem;
    height: 1.5rem;
}
.shanpingyou{
    width: 5.36rem;
    height: 1.5rem;
    /*background: yellow;*/
    margin-left: 0.16rem;
    display: flex;
    /*align-content: center;*/
    flex-direction: column;
    justify-content: space-between;
}
.diyihang {
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diyihangzuo{
    font-size: 0.3rem;
}
.wujiaoxing{
    width: 1.17rem;
    height: 0.19rem;
    display: flex;
    justify-content: space-between;
 }
.shixin{
    width: 0.19rem;
}
.kongxin{
    width: 0.19rem;
}
.dierhang{
    font-size: 0.24rem;
    /*background: purple;*/
    color: rgba(2,2,2,0.8);
}
.disanhang{
    /*background: skyblue;*/
    font-size: 0.18rem;
    color: rgba(5,5,5,0.8);
}
.disihang{
    /*background: red;*/
    display: flex;
}
.huiyuan{
    width: 0.61rem;
    height: 0.3rem;
    border: 1px solid #fda9b5;
    font-size: 0.18rem;
    line-height: 0.24rem;
    text-align: center;
    border-radius: 0.15rem;
    color: #fc6480;
}
.huiyuanlimian{
    transform: scale(0.7,0.7);
}
.huiyuanyou{
    width: 3.4rem;
    height: 0.3rem;
    margin-left: 0.1rem;
    font-size: 0.18rem;
    line-height: 0.3rem;
    color: rgba(6,6,6,0.6);
}
.gouwuche{
    width: 0.74rem;
    height: 0.74rem;
    position: absolute;
    top: 0.8rem;
    right: 0.25rem;
}
/*商品部分结束*/
/*底部开始*/
.footbox{
    width:100%;
    height:1.5rem;
    padding:0.25rem 0.54rem;
    box-sizing: border-box;
    background: #fff;
}
.foot{
    width:100%;
    height: 1rem;
    display: flex;
    justify-content:space-between;
}
.footitem{
    width: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
.footitem img{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
    display: block;
}
.footitem span{
    width:100%;
    height:0.3rem;
    display: block;
    font-size: 0.2rem;
    text-align: center;
    color: #000;
    opacity:0.6;
    margin-top: 0.2rem;
   }
/*底部结束*/
